USE [master]
GO
/****** Object:  Database [deals]    Script Date: 6. 09. 2018 10:23:55 ******/
CREATE DATABASE [deals]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'deals', FILENAME = N'C:\MSSQL\Data\deals.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'deals_log', FILENAME = N'C:\MSSQL\Data\deals_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [deals].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [deals]
GO
USE [deals]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6. 09. 2018 10:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deals]    Script Date: 6. 09. 2018 10:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Deals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Categories]
GO
/****** Object:  StoredProcedure [dbo].[CategoryInsert]    Script Date: 6. 09. 2018 10:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CategoryInsert]
        @Name nvarchar(50),
		@Image image
AS BEGIN

	Declare @ID int
	Select @ID = 1 + isnull(max(ID), 0) from dbo.Categories

	INSERT INTO [dbo].[Categories]([ID],[Name],[Image])
	VALUES(@ID, @Name, @Image)

END
GO
/****** Object:  StoredProcedure [dbo].[DealInsert]    Script Date: 6. 09. 2018 10:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DealInsert]
		@CategoryID int,
        @Title nvarchar(50),
		@Description nvarchar(250),
		@Image image
AS BEGIN

	INSERT INTO [dbo].[Deals]([CategoryID],[Title],[Description],[Image])
	VALUES(@CategoryID, @Title, @Description, @Image)

END
GO
USE [master]
GO
